:root {
    /*colors variables*/
    --body_background:#1c1e22;
    /*table colors*/
    --table_border_external:#272b30;
    --table_border_internal:#4D648D;

    --table_box-shadow:hsla(113, 9%, 80%, 30%);
    --table_text-shadow:hsla(113, 9%, 80%, 30%);

    --table_title_color:#F5CA99;
    --table_header_color:#FE7A47;
    --table_text_color:#8fa1b4;

    --filter_icon: #F5CA99;
    --filter_input_border: #4D648D;
    --filter_text: #adb9c7;
    --filter_back: #272b30;
    --filter_border_focus: #F5CA99;
    /*apiLinks colors*/
    --apiLink_default:#8fa1b4;
    --apiLink_hover:#adb9c7;
    --apiLink_shadow:#adb9c7;
    --apiLink_active: #D8412F;
    --apiLink_visited: #F5CA99;
    /*buttons colors*/
    --button_border:#04202C;
    --button_color:#4D648D;
    --button_text_color:#F5CA99;

    --button_hover:#adb9c7;
    --button_text_color_hover:#FE7A47;

    --homebutton_border: #D8412F;
    --homeButton_color:#FE7A47;
    --homeButton_text_color:#04202C;

    --homeButton_border_hover:hsla(113, 9%, 80%, 30%);
    --homeButton_hover:hsla(113, 9%, 80%, 30%);
    --homeButton_text_color_hover:#1c1e22;
    /*paginators colors*/
    --changePage_color: #7093bb;
    --changePage_text_color:#D8412F;
    --changePage_border:#8fa1b4;

    --changePage_color_hover:#4D648D;
    --changePage_text_color_hover:#FE7A47;
    --changePage_border_hover: #F5CA99;

    --changePage_color_active: #04202C;
    --changePage_text_color_active:#ff0000;
    --changePage_border_active: #D8412F;

    --paginator_text_color: #1c1e22;
    --paginator_border: #4D648D;
    --paginator_color: #adb9c7;

    --paginator_color_hover: #8fa1b4;
    --paginator_text_color_hover:#adb9c7;;
    --paginator_border_hover: #FE7A47;
    --paginator_hover: hsla(113, 9%, 80%, 30%);;

    --paginator_color_active:#4D648D;
    --paginator_text_color_active: #D8412F;
    --paginator_border_active: #1c1e22;

    /*fonts variables */
    --table_title_font: 'Open Sans', sans-serif;
    --table_header_font: 'Roboto', sans-serif;
    --table_text_font: 'Droid Sans', arial, verdana, sans-serif;
    --apiLink: 'Noto Sans JP', sans-serif;
    --button_text: 'Open Sans', sans-serif;
    --pagination_text: 'Roboto', sans-serif;
}