.nameColumn {
    vertical-align: middle;
    padding: 10px;
    cursor: default;
    font-weight: bold;
    color: var(--table_header_color);
    border: 1px solid var(--table_border_internal);
}

.heightColumn {
    vertical-align: middle;
    padding: 10px;
    cursor: default;
    font-weight: bold;
    border: 1px solid var(--table_border_internal);
}

.massColumn {
    vertical-align: middle;
    padding: 10px;
    cursor: default;
    font-weight: bold;
    border: 1px solid var(--table_border_internal);
}

.haircolorColumn {
    vertical-align: middle;
    padding: 10px;
    cursor: default;
    font-weight: normal;
    border: 1px solid var(--table_border_internal);
}

.skincolorColumn {
    vertical-align: middle;
    padding: 10px;
    cursor: default;
    font-weight: normal;
    border: 1px solid var(--table_border_internal);
}

.eyecolorColumn {
    vertical-align: middle;
    padding: 10px;
    cursor: default;
    font-weight: normal;
    border: 1px solid var(--table_border_internal);
}

.birthyearColumn {
    vertical-align: middle;
    padding: 10px;
    cursor: default;
    font-weight: bold;
    border: 1px solid var(--table_border_internal);
}

.genderColumn {
    vertical-align: middle;
    padding: 10px;
    cursor: default;
    font-weight: bold;
    border: 1px solid var(--table_border_internal);
}

.genderTd {
    transform: scale(3);
}

.homeworldColumn {
    vertical-align: middle;
    padding: 10px;
    border: 1px solid var(--table_border_internal);
}

.filmsColumn {
    vertical-align: middle;
    padding: 10px;
    border: 1px solid var(--table_border_internal);
}

.filmsTd {
    padding: 10px;
}

.speciesColumn {
    vertical-align: middle;
    padding: 10px;
    border: 1px solid var(--table_border_internal);
}

.vehiclesColumn {
    vertical-align: middle;
    padding: 10px;
    border: 1px solid var(--table_border_internal);
}

.vehiclesTd {
    padding: 10px;
}

.starshipsColumn {
    vertical-align: middle;
    padding: 10px;
    border: 1px solid var(--table_border_internal);
}

.starshipsTd {
    padding: 10px;
}